﻿@{
    ViewData["Title"] = "Reading Log";
}

<div class="text-center">
    <h1 class="display-4">My Reading Log</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>

<div class="row">
    <table id="book-list" class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date Finished</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="row">
    <div style="margin:10px;">
        <button class="btn btn-primary" id="btnShowAddBook">Add Book</button>
    </div>
    <div style="margin:10px;">
        <button class="btn btn-primary" id="btnManageAuthors">Manage Authors</button>
    </div>
</div>

<div class="row">
    @await Html.PartialAsync("_AddBookModal")
</div>

<div class="row">
    @await Html.PartialAsync("_EditBookModal")
</div>

<div class="row">
    @await Html.PartialAsync("_ManageAuthorsModal")
</div>
