<div class="modal fade" id="editBookDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="edit-id" class="form-control" />
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" id="edit-title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        <select id="ddlAuthorEdit" class="form-control">
                            <option value=0>--No Selection--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Date Finished</label>
                        <input type="date" id="edit-date-finished" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Comments</label>
                        <input type="text" id="edit-comments" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveChanges" class="btn btn-primary">Save Changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
