﻿<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Movie</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-left:0 !important">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" id="title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Release Date</label>
                        <input type="date" id="releaseDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>MPAA Rating</label>
                        <input type="text" id="mpaaRating" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Director</label>
                        <input type="text" id="directorName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Studio</label>
                        <input type="text" id="studio" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Rating (1-5)</label>
                        <input type="text" id="userRating" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Notes</label>
                        <input type="text" id="userNotes" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Actors</label>
                        <input type="text" id="actors" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnAddMovie" class="btn btn-primary">Add Movie</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
