﻿<div class="modal fade" id="returnMovie" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Check-In Movie</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <input type="hidden" id="idReturnModal" />
                        <strong>Title</strong>
                    </div>
                    <div id="titleReturnModal" class="row"></div>
                    <div class="row">
                        <strong>Borrower Name</strong>
                    </div>
                    <div id="borrowerReturnModal" class="row"></div>
                    <div class="row">
                        <strong>Date Borrowed</strong>
                    </div>
                    <div id="borrowedDateReturnModal" class="row"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSaveReturnChanges" class="btn btn-primary">Mark as Returned</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

