﻿<div class="modal fade" id="showDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Movie Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4 id="sampleTitle"></h4>
                        </li>
                        <li class="list-group-item">
                            <strong class="list-group-item-heading">Year Released</strong>
                            <p id="sampleReleaseDate"></p>
                        </li>
                        <li class="list-group-item">
                            <strong class="list-group-item-heading">MPAA Rating</strong>
                            <p id="sampleMpaaRating"></p>
                        </li>
                        <li class="list-group-item">
                            <strong class="list-group-item-heading">Director</strong>
                            <p id="sampleDirectorName"></p>
                        </li>
                        <li class="list-group-item">
                            <strong class="list-group-item-heading">Studio</strong>
                            <p id="sampleStudio"></p>
                        </li>
                        <li class="list-group-item">
                            <strong class="list-group-item-heading">User Rating (1-5)</strong>
                            <p id="sampleUserRating"></p>
                        </li>
                        <li class="list-group-item">
                            <strong class="list-group-item-heading">User Notes</strong>
                            <p id="sampleUserNotes"></p>
                        </li>
                        <li class="list-group-item">
                            <strong class="list-group-item-heading">Actors</strong>
                            <p id="sampleActors"></p>
                        </li>
                        <li class="list-group-item">
                            <strong class="list-group-item-heading">Borrower Name</strong>
                            <p id="sampleBorrowerName"></p>
                        </li>
                        <li class="list-group-item">
                            <strong class="list-group-item-heading">Date Borrowed</strong>
                            <p id="sampleBorrowedDate"></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" id="btnAddMovie" class="btn btn-primary">Add Movie</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
