﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h3>Movie Library</h3>
</div>

<div class="row">
    <button class="btn btn-primary" id="btnShowAddMovie">Add Movie</button>
    @Html.ActionLink("Search", "SearchTitles", "Home", null, new { @class = "btn btn-info" })
</div>

<div class="row">
    <table id="movies" class="movies table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Rating</th>
                <th>Borrower Name</th>
                <th>Date Borrowed</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="row">
    @Html.Partial("_AddMovieModal")
</div>
<div class="row">
    @Html.Partial("_ShowDetailsModal")
</div>
<div class="row">
    @Html.Partial("_LoanMovieModal")
</div>
<div class="row">
    @Html.Partial("_ReturnMovieModal")
</div>
<div class="row">
    @Html.Partial("_DeleteMovieModal")
</div>



@section scripts
{
    <script src="~/Scripts/app/checkBorrowFields.js"></script>
    <script src="~/Scripts/app/indexViewScripts.js"></script>
    <script src="~/Scripts/app/AddMovie.js"></script>
    <script src="~/Scripts/app/showDetails.js"></script>
    <script src="~/Scripts/app/showDetailsTest.js"></script>
    <script src="~/Scripts/app/loanMovie.js"></script>
    <script src="~/Scripts/app/returnMovie.js"></script>
    <script src="~/Scripts/app/deleteMovie.js"></script>
}



