﻿
@{
    ViewBag.Title = "Search Movies";
}

<div class="container">
    <div class="row">
        <h3>Search by Title</h3>
        <div class="form-group">
            <label>Title: </label>
            <input type="text" id="title" class="form-control" />
        </div>
        <button id="btnSearchByTitle" class="btn btn-primary">Search</button>
    </div>
    <hr />
    <div class="row">
        <table id="search-movies" class="search-movies table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Rating</th>
                    <th>Borrower Name</th>
                    <th>Date Borrowed</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="row">
        <table id="errorMessage" class="table table-striped">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>

</div>

<div class="row">
    @Html.Partial("_ShowDetailsModal")
</div>
<div class="row">
    @Html.Partial("_LoanMovieModal")
</div>
<div class="row">
    @Html.Partial("_ReturnMovieModal")
</div>
<div class="row">
    @Html.Partial("_DeleteMovieModal")
</div>

@section scripts
{

    <script src="~/Scripts/app/checkBorrowFields.js"></script>
    <script src="~/Scripts/app/searchMovie.js"></script>
    <script src="~/Scripts/app/indexViewScripts.js"></script>
    <script src="~/Scripts/app/AddMovie.js"></script>
    <script src="~/Scripts/app/showDetails.js"></script>
    <script src="~/Scripts/app/showDetailsTest.js"></script>
    <script src="~/Scripts/app/loanMovie.js"></script>
    <script src="~/Scripts/app/returnMovie.js"></script>
    <script src="~/Scripts/app/deleteMovie.js"></script>
}

